/* Base (mobile-first) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzd70FttwCaepadcheBG5rsciNNJSyyTvgHhY9BQ9YmQ&s=10") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

main {
  width: 100%;
  max-width: 500px;
  background-color: rgba(28, 25, 4, 0.267);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 15px;
}

fieldset {
  width: 100%;
  border: solid rgba(2, 13, 35, 0.953);
  border-radius: 15px;
  background-color: rgba(19, 88, 109, 0.905);
  padding: 15px;
}

legend {
  text-align: center;
  font-size: 1.2rem;
  padding: 8px;
  color: rgb(4, 4, 29);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.lables {
  width: 100%;
  font-size: 1rem;
}

.lables input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(21, 1, 1, 0.266);
  color: rgb(1, 11, 19);
}

.submit {
  background-color: rgba(85, 85, 146, 0.281);
  border-radius: 15px;
  width: 100%;
  max-width: 120px;
  padding: 10px;
  text-align: center;
}

/* Tablet screens */
@media (min-width: 700px) {
  main {
    width:90% ;
    height: 80%;
    background-color: rgba(63, 61, 38, 0.267);
  }

  fieldset {
    width: 80%;
    height: 90%;
  }

  .lables input {
    height: 35px;
  }
}

/* Desktop screens */
@media (min-width: 1100px) {
  main {
    width: 30%;
    height: 90%;
    background-color: rgba(55, 52, 119, 0.545);
  }

  fieldset {
    width: 100%;
  }

  .lables input {
    height: 40px;
  }
}
