* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

/* @media (max-width:460px) {} */

body {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: rgba(185, 158, 184, 0.245);

    padding: 20px;
   overflow: hidden;

   display: flex;
      display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
   flex-direction: column;
}

textarea {
    min-width: 95%;
    min-height: 100px;
   overflow: hidden;
}

input,
button {
    padding: 10px;
    border-radius: 5px;
    height: 40px;
}
button{
    width: auto;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.236);
    margin: auto;
}



fieldset {
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: bisque;
    padding: 30px;
    border-radius: 15px;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

overflow: hidden;
}

legend {
    text-align: center;
    color: rgb(17, 17, 165);
    font-weight: 800;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    min-height: 90%;

    background-color: rgba(154, 129, 178, 0.767);
    border-radius: 10px;
    padding: 5px;
    margin: auto;
   overflow: hidden;
}

.head {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    height: auto;
    background-color: aliceblue;
    
}

.inputs{
     width: 100%;
     height: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: aliceblue;


   overflow: hidden;

      display: flex;
    flex-direction: column;
    gap: 10px;

}
.option{
    padding: 10px;
}




@media (min-width:500px){

    body{
        width: 100%;
        height: auto;
     

        overflow: auto;
    }

    fieldset{
        height: 100%;
        width: 70%;
         display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }

    form{
        width: 80%;
        height: 80%;
         display: flex;
        justify-content: center;

        align-items: center;
        padding: 20px;

    }

    .head{
        height: 20%;
    }
.inputs{
        height: 90%;
}




}



/* =====================Dynamic==================================== */


body{
   
    overflow: auto;
   
}

.courses-container{
    width: 100%;
   

    background-color: rgba(12, 116, 116, 0.677);
    margin: auto;
}

.items{
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 10px;
    margin: auto;
}

.items{

    
}


.course{
    width: 100%;

    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    /* margin: 20px; */
    padding: 15px;
}

 
.course img{
    width: 80%;
}


.edit{
    background-color: rgba(37, 208, 208, 0.678);
}
.delete{
    background-color: rgba(165, 42, 42, 0.569);
}




/* ============================================================ */